.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.list {
    width: 100%;
    border: 1px solid #1F3F49;
    border-radius: 5px;
}

h2 {
    font-size: 16px;
    color: #ffffff;
    background-color: #1F3F49;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}

.suggestion-item {
    padding: 16px;
    border: 1px solid #e8e8e8;
}

  