<!-- <div class="container">
    <div class="header">
        <h2>New Admission of Student In School</h2>
    </div>
    <div class="form" (ngSubmit)="addStudent()">
        <input type="text" [(ngModel)]="student.Fname" placeholder="First Name">
        <input type="text" [(ngModel)]="student.Lname" placeholder="Last Name">
        <input type="text" [(ngModel)]="student.email" placeholder="Email">
        <input type="text" [(ngModel)]="student.password" placeholder="Password">
        <input type="text" [(ngModel)]="student.phone_No" placeholder="Phone No.">
        <input type="text" [(ngModel)]="student.classId" placeholder="Class">
        <input type="text" [(ngModel)]="student.roll_No" placeholder="Roll No">
        </div>
    <div class="button">
        <button nz-button type="submit" nzType="primary">Submit</button>
    </div>
</div> -->