<div class="buttons">
  <Button style="background-color: #6AB187;" (click)="showModal()">Add Course<span nz-icon nzType="plus-circle"
      nzTheme="fill"></span></Button>
  <nz-modal [(nzVisible)]="isAddVisible" nzTitle="Add Course" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <div class="form"
        style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
        <input type="text" [(ngModel)]="newCourse.name" placeholder="Course Name"
          style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
        <input type="text" [(ngModel)]="newCourse.description" placeholder="Description"
          style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
        <div>
          <label for="classId">Teacher</label>
          <nz-select [(ngModel)]="newCourse.teacher_id" name="classId">
            <nz-option *ngFor="let teacher of teachers" [nzValue]="teacher._id" [nzLabel]= "teacher.Fname + ' ' + teacher.Lname"></nz-option>
          </nz-select>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>
<h2>Courses</h2>
<div class="container">
  <div class="classes">
    <div (click)="navigateToCourseDetail(course)" class="cards" *ngFor="let course of courses">
      <h3>{{ course.name }}</h3>
      <span style="width: 80%; background-color: #ccc; height: 2px;"></span>
      <div class="actions">
        <!-- <div class="edit">
          <span style="color: green; font-size: 23px;" (click)="showEditModal(course)" nz-icon nzType="edit"
            nzTheme="outline"></span>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Course" (nzOnCancel)="handleEditCancel()"
            (nzOnOk)="handleEditOk(course)">
            <ng-container *nzModalContent>
              <div class="form"
              style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
              <input type="text" [(ngModel)]="selectedCourse.name" placeholder="Name"
                  style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
              <input type="text" [(ngModel)]="selectedCourse.description" placeholder="Description"
                  style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
              <input type="text" [(ngModel)]="selectedCourse.teacher_id" placeholder="Last Name"
                  style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
              <input type="text" [(ngModel)]="selectedCourse.class_id" placeholder="Phone No"
                  style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
          </div>
            </ng-container>
          </nz-modal>
        </div>
        <span class="separator"></span> -->
        <div class="delete">
          <span style="color: red; font-size: 21px;" (click)="showDeleteConfirm(course)" nz-icon nzType="delete"
            nzTheme="outline"></span>
        </div>
      </div>
    </div>
  </div>

</div>