<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="profile" [ngClass]="{'hidden': isCollapsed}">
      <!-- <img src="../../assets/images/admin.jpg" alt=""> -->
      <img *ngIf="photo" [src]="photo" alt="Profile Photo">
      <h2>{{userName}}</h2>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [routerLinkActive]="'active'">
        <a routerLink="/student/dashboard">
          <span nz-icon nzType="dashboard" nzTheme="outline"></span>
          <span style="margin-left: 10px">Dashboard</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/student/announcements">
          <span nz-icon nzType="bell" nzTheme="outline"></span>
          <span>Annoucements</span>
        </a>
      </li>
      <li nz-menu-item [routerLinkActive]="'active'">
        <a routerLink="/student/courses">
          <span nz-icon nzType="file-text" nzTheme="outline"></span>
          <span style="margin-left: 10px">Courses</span>
        </a>
      </li>
      <li nz-menu-item [routerLinkActive]="'active'">
        <a routerLink="/student/attendance">
        <span nz-icon nzType="idcard" nzTheme="outline"></span>
        <span>Attendance</span>
      </a>
      </li>
      <li nz-menu-item [routerLinkActive]="'active'"  >
        <a routerLink="/student/diary">
          <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
          <span style="margin-left: 10px">Diary</span>
        </a>
      </li>
      <li nz-menu-item [routerLinkActive]="'active'">
        <a routerLink="/student/leaves">
          <span nz-icon nzType="audit" nzTheme="outline"></span>
          <span style="margin-left: 10px">Leave</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/student/suggestions">
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
          <span>Suggestions</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>
      <div class="logo">School Management</div>
      <button (click)="logout()">Logout</button>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>