<div class="jumbotron-custom">
  <h1 class="display-4">Hello, Admin</h1>
  <p class="lead">Welcome to Online School Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login/SignUp.</p>
  <div style="display: flex; justify-content: center; gap: 20px;">
    <button nz-button nzType="primary" class="custom-button" routerLink="/adminsignup">SignUp</button>
    <button nz-button nzType="primary" class="custom-button" routerLink="/adminlogin">Login</button>
  </div>
</div>
