<div class="attendance">
    <div class="table">
        <h2>Attendance</h2>
        <nz-table #basicTable [nzData]="classes">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Mark Attendance</th>
                    <th>View Attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td>
                        <a style="font-size: 21px;" (click)="navigateToAttendence()"><span nz-icon nzType="plus-square" nzTheme="fill"></span></a>
                    </td>
                    <td>
                        <a style="font-size: 22px;" (click)="navigateToViewAttendence()"><span nz-icon nzType="eye" nzTheme="fill"></span></a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>