/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';


h1 {
  text-align: center;
  font-size: 36px;
}

.ant-table-thead > tr > th {
  background-color: #162553;
  font-size: 16px;
  color: white;
}

.loader {
  position: absolute !important;
  top: 50%;
  left: 50%;
}

.title {
  color: #162553;
  font-weight: 600;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
