<div class="container">
    <h2>Attendance</h2>
    <div class="detail">
        <!-- <nz-date-picker [(ngModel)]="date" (ngModelChange)="fetchAttendanceByDate()"></nz-date-picker> -->

        <div style="background: #ECECEC; padding: 30px;">
            <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="8">
                    <nz-card>
                        <nz-statistic [nzValue]="presentCount" [nzTitle]="'Present'" [nzPrefix]="prefixTplOne"
                            [nzValueStyle]="{ color: '#3F8600' }"></nz-statistic>
                        <ng-template #prefixTplOne><span nz-icon nzType="arrow-up"></span></ng-template>
                    </nz-card>
                </nz-col>
                <nz-col [nzSpan]="8">
                    <nz-card>
                        <nz-statistic [nzValue]="absentCount" [nzTitle]="'Absents'" [nzPrefix]="prefixTplTwo"
                            [nzValueStyle]="{ color: '#CF1322' }"></nz-statistic>
                        <ng-template #prefixTplTwo><span nz-icon nzType="arrow-down"></span></ng-template>
                    </nz-card>
                </nz-col>

                    <nz-col [nzSpan]="8">
                    <nz-card>
                        <nz-statistic [nzValue]="absentCount" [nzTitle]="'Leaves'" [nzPrefix]="prefixTplTwo"
                        [nzValueStyle]="{ color: '#CF1322' }"></nz-statistic>
                    <ng-template #prefixTplTwo><span nz-icon nzType="arrow-down"></span></ng-template>
                    </nz-card>
                </nz-col>
            </nz-row>
        </div>
        <div class="circle">
            <nz-progress
            nz-tooltip
            nzTitle="Attendance Statistics"
            nzType="circle"
            [nzPercent]="presentPercent"
            [nzSuccessPercent]="presentPercent"
          ></nz-progress>
          <ng-template #infoTpl>
            <div>
              <p>Present: {{ presentCount }}</p>
              <p>Absent: {{ absentCount }}</p>
              <p>Leave: {{ leaveCount }}</p>
              <p>Total: {{ totalCount }}</p>
            </div>
          </ng-template>
        
         </div>
    </div>
    <div class="table">
        <nz-table #basicTable [nzData]="attendance">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ formatTimestamp(data.date) }}</td>
                    <td *ngIf="data.detail.length">{{ data.detail[0].status }}</td>

                </tr>
            </tbody>
        </nz-table>

    </div>
</div>