<div class="disp-main">
  <h1 class="title">DISPOSITIONS</h1>

  <div class="loader">
    <nz-spin [nzSpinning]="loader" nzSize="large"> </nz-spin>
  </div>
  <div [hidden]="loader">
    <div class="add-btn-container">
      <a class="form-add-btn" (click)="showModal()"
      >Add Disposition</a
    >
    </div>
    <nz-modal
      [(nzVisible)]="isVisible"
      [nzTitle]="isEditMode ? 'Edit Disposition' : 'Add Disposition'"
      (nzOnCancel)="handleCancel()"
    >
      <div class="modal-content-container">
        <form nz-form *nzModalContent [formGroup]="addDisp">
          <div class="form-row">
            <nz-form-item class="form-item">
              <nz-form-label class="form-label" nzRequired
                >Disposition</nz-form-label
              >
              <nz-form-control nzHasFeedback [nzErrorTip]="dispositionErrorTpl">
                <input
                  nz-input
                  formControlName="disposition"
                  placeholder="input here"
                  class="form-input"
                />
                <ng-template #dispositionErrorTpl let-control>
                  <ng-container *ngIf="control.errors?.['required']"
                    ><span class="form-item-explain-error"
                      >Please enter disposition!</span
                    ></ng-container
                  >
                  <ng-container *ngIf="control.errors?.['dispositionExists']"
                    ><span class="form-item-explain-error"
                      >Disposition already exist!</span
                    ></ng-container
                  >
                  <ng-container *ngIf="control.errors?.['whitespace']"
                    ><span class="form-item-explain-error"
                      >No whitespace(s) allowed!</span
                    ></ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="form-item">
              <nz-form-label class="form-label">Name</nz-form-label>
              <nz-form-control nzHasFeedback>
                <input
                  nz-input
                  formControlName="name"
                  placeholder="input here"
                  class="form-input"
                  readonly
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="handleCancel()">
            Cancel
          </button>
          <button
            nz-button
            nzType="primary"
            (click)="SaveOrUpdateDisposition()"
            [disabled]="!addDisp.valid"
          >
            Save
          </button>
        </div>
      </div>
    </nz-modal>

    <div class="disposition-table-container">
      <nz-table
        class="disposition-table"
        #basicTable
        [nzData]="dispositionsData"
      >
        <thead class="table-header">
          <tr>
            <th>Disposition Name</th>
            <th>Created by</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataa of basicTable.data">
            <td>{{ dataa.disposition }}</td>
            <td>{{ dataa.name }}</td>
            <td>
              <div class="table-action-container">
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  nz-tooltip
                  nz-tooltip
                  nzTooltipTitle="Edit"
                  (click)="handleEditClick(dataa.docId)"
                  ><span nz-icon nzType="edit" nzTheme="outline"></span
                ></a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  (click)="showDeleteConfirm(dataa.docId)"
                  nz-tooltip
                  nzTooltipTitle="Delete"
                  ><span nz-icon nzType="delete" nzTheme="outline"></span
                ></a>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
