<nz-layout>
  <nz-header>
    <div style="display: grid; grid-template-columns: 75% 25%; gap: 30px;">
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLinkActive="active"><a routerLink="/">Home</a></li>
        <li nz-menu-item routerLinkActive="active"><a routerLink="/admin-click">Admin</a></li>
        <li nz-menu-item routerLinkActive="active"><a routerLink="/teacher-click">Teacher</a></li>
        <li nz-menu-item routerLinkActive="active"><a routerLink="/parent-click">Parent</a></li>
      </ul>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLinkActive="active"><a routerLink="/aboutus">About Us</a></li>
        <li nz-menu-item routerLinkActive="active"><a routerLink="/contactus">Contact Us</a></li>
      </ul>
    </div>
  </nz-header>
</nz-layout>
