// .layout { 
//   min-height: 100vh;
//   // overflow: hidden;
//   display: flex;
//   flex-direction: column;
// }
// .ant-layout {
//   background: transparent;
// }
// .right-layout {
//   margin-left: 250px;
//   position: relative;
// }

// nz-header {
//   background: #fff;
//   padding: 0;
// }

// nz-content {
//   padding: 24px 34px 0;
//   overflow: initial;
//   background-color: #f5f5f5;
// }

// .inner-content {
//   padding: 24px;
//   background: #f5f5f5;
//   text-align: center;
// }

// nz-footer {
//   text-align: center;
// }
nz-content{
    background-color: #ffffff;
    padding: 2%;
  }
  .ant-layout{
    min-height: 100vh;
  }
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    display: grid;
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    color: #ffffff;
    text-align: center;
    align-items: center;
  }
  
  nz-header {
    background: #fff;
    padding: 0;
  }
  
  nz-content {
    margin: 16px;
  }
  
  .inner-content {
    margin: 10%;
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }
  
  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
      padding: 5px;
      font-weight: 500;
      color: #ffffff;
    }
    img{
      width: 110px;
    }
  }
  .hidden {
    display: none;
  }
  