button {
  margin-left: 8px;
  border-radius: 10px;
}

.ant-select.ant-select-in-form-item {
  width: 190px;
}

.ant-form {
  margin: 0px 25%;
  margin-top: 50px;
  padding: 33px 0;
  background-color: lightsteelblue !important;
}
input {
  border-radius: 10px;
}
.form-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 0;
}
