<!-- <div class="dashboard">
    <div class="container">
        <div class="card" style="background-color: #6494edaf;">
            <div class="card-title">View All Students</div>
            <span nz-icon nzType="eye" nzTheme="fill"></span>
        </div>

        <div class="card" style="background-color: #4caf4fc2;">
            <div class="card-title">Add Student</div>
            <span nz-icon nzType="plus-circle" nzTheme="fill"></span>
        </div>

        <div class="card" style="background-color: #f0b255a4;">
            <div class="card-title">Approve Student</div>
            <span nz-icon nzType="check-circle" nzTheme="fill"></span>
        </div>
          
        <div class="card" style="background-color: #d165c891;">
            <div class="card-title">View Students Fee</div>
            <span nz-icon nzType="money-collect" nzTheme="fill"></span>
        </div>
    </div>
</div> -->

<div class="teachers">
    <div class="container">
        <div class="buttons">
            <Button style="background-color: #4caf4fc2;" (click)="navigateToAdd()">Add Student<span nz-icon nzType="plus-circle"
                    nzTheme="fill"></span></Button>
            <Button style="background-color: #f0b255a4;"(click)="navigateToApprove()">Approve Students<span nz-icon nzType="check-circle"
                    nzTheme="fill"></span> </Button>
        </div>
        <div class="table">
            <h2>Students</h2>
            <nz-table #basicTable [nzData]="students">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Phone no</th>
                        <th>Fee</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.name }}</td>                        
                        <td>{{ data.class }}</td>
                        <td>{{ data.mobile }}</td>
                        <td>{{ data.fee }}</td>
                        <td>
                            <a style="font-size: 21px; color: green;" (click)="showModal()"><span nz-icon nzType="edit"
                                nzTheme="outline"></span></a>
                                <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Student" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                                    <ng-container *nzModalContent>
                                      <div class="form" style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
                                        <input type="text" [(ngModel)]="data.name" placeholder="First Name" style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                                        <input type="text" [(ngModel)]="data.class" placeholder="Last Name" style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                                        <input type="text" [(ngModel)]="data.mobile" placeholder="Phone No" style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                                        <input type="text" [(ngModel)]="data.fee" placeholder="Joining Date" style="border: 1px solid gray; padding: 6px; border-radius: 7px;                                                                                                                                                                                          ">
                                      </div>
                                    </ng-container>
                                  </nz-modal>
                        </td>
                        <td>
                            <a style="font-size: 22px; color: red;" (click)="showDeleteConfirm(data.name)"><span nz-icon nzType="delete"
                                    nzTheme="fill"></span></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>