<div class="suggestions">
    <div class="container">
        <!-- <div class="buttons">
            <Button style="background-color: #6AB187;" (click)="showModal()">Add Announcement<span nz-icon
                    nzType="plus-circle" nzTheme="fill"></span></Button>
            <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOk()">
                <ng-container *nzModalContent>
                    <div class="form"
                        style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
                        <input type="text" [(ngModel)]="newAnnouncement.title" placeholder="Title"
                            style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                        <input type="text" [(ngModel)]="newAnnouncement.description" placeholder="Description"
                            style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                    </div>
                </ng-container>
            </nz-modal>
        </div> -->
        <div class="list">
            <h2>Suggestions</h2>
            <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
                <ng-container *ngIf="suggestions.length > 0; else emptyList">
                  <nz-list-item *ngFor="let item of suggestions; trackBy: trackByFn" class="suggestion-item">
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>
                        {{ item.title }}
                        <button nz-button nzType="text" class="delete-btn" (click)="showDeleteConfirm(item._id)" >
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button>
                      </nz-list-item-meta-title>
                      <nz-list-item-meta-description class="suggestion-details">
                        <p>{{ item.description }}</p>
                        <div class="posted-info">
                          <p><strong>Posted By:</strong> {{ item.poster.Fname }} {{ item.poster.Lname }} ({{ item.poster.role }})</p>
                          <p><strong>Created At:</strong> {{ item.createdAt | date: 'short' }}</p>
                        </div>
                      </nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                </ng-container>
                <ng-template #emptyList>
                  <nz-list-empty></nz-list-empty>
                </ng-template>
              </nz-list>
              
              
        </div>
    </div>
</div>