.table {
    width: 100%;
    border: 1px solid #1F3F49;
    border-radius: 5px;

    h2 {
        font-size: 16px;
        color: #ffffff;
        background-color: #1F3F49;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
    }
}

::ng-deep nz-table {
    padding: 1%;
}

::ng-deep .ant-table-thead>tr>th {
    color: black;
    background-color: #ffffff;
    font-size: 14px;
}

nz-date-picker,
nz-range-picker {
    margin: 0 8px 12px 0;
    width: 100%;
}
.top{
    display: grid;
    grid-template-columns: 40% 40%;
    padding-left: 10px;
    gap: 20px;
}
.item{
    p{
        font-size: 15px;
        font-weight: 700;
    }
}
::ng-deep .ant-select{
    width: 100%;
}
.attendanceButton{
    padding: 10px;
    width: 130px;
    color: #ffffff;
    border-radius: 7px;
    border: transparent;
    background-color: #1F3F49;
    align-items: center;

  }