<div class="container">
    <div class="top">
        <div class="item">
            <p>Select Course: </p>
            <nz-select ngModel="lucy" nzPlaceHolder="Select Course">
                <nz-option *ngFor="let item of courses" [nzValue]="item._id"
                [nzLabel]="item.name"></nz-option>
            </nz-select>
        </div>
      
        <div class="item">
            <p>Select Date:</p>
            <nz-date-picker [nzFormat]="dateFormat"></nz-date-picker>
        </div>

    </div>
  

    <div class="table">
        <h2>Attendance</h2>
        <nz-table #basicTable [nzData]="attendance">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Roll No</th>
                    <th>P</th>
                    <th>L</th>
                    <th>A</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.date }}</td>
                    <!-- <td>{{ data.name }}</td>                        
                    <td>{{ data.class }}</td>
                    <td>{{ data.reason }}</td> -->
                    <td>
                        <a style="font-size: 21px; color: green;"><span nz-icon nzType="check" nzTheme="outline"></span></a>
                    </td>
                    <td>
                        <a style="font-size: 22px; color: red;"><span nz-icon nzType="delete"
                                nzTheme="fill"></span></a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>