.upper{
    img{
        width: 100%;
    }
}
[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  .upper {
    position: relative; /* Ensure the .upper div acts as a relative positioning container */
}

.upper img {
    display: block; /* Ensure the image takes up the full width available */
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain aspect ratio */
}

.content {
    position: absolute;
    top: 50%; /* Position content 50% down from the top */
    left: 50%; /* Position content 50% from the left */
    transform: translate(-50%, -50%); /* Center the content horizontally and vertically */
    z-index: 1; /* Ensure content appears above the image */
    text-align: center; /* Center align the text */
    color: white; /* Set text color */
    padding: 20px; /* Add padding for readability */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.content h1 {
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 700;
}

.content p {
    margin-bottom: 20px; /* Add some space below the paragraph */
}

.content button {
    z-index: 2; 
    border-radius: 5px;
}

.card-button{
margin-top: 20px;
margin-left: 0;
margin-right: 0;
padding-left: 50px;
padding-right: 50px;
}