<div class="container">
    <div class="header">
        <h2>Hire New Teacher To School</h2>
    </div>
    <div class="form">
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="User Name">
        <input type="text" placeholder="Password">
        <input type="text" placeholder="Phone No.">
        <input type="text" placeholder="Salary">
    </div>
    <div class="button">
        <button nz-button nzType="primary">Hire</button>
    </div>
</div>