<div class="diary">
  <div class="buttons">
    <Button style="background-color: #6AB187;" (click)="showModal()">Add Diary<span nz-icon nzType="plus-circle"
        nzTheme="fill"></span></Button>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Add Leave Request" (nzOnCancel)="handleCancel()"
      (nzOnOk)="postDiary()">
      <ng-container *nzModalContent>
        <div class="form"
          style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
          <nz-date-picker [(ngModel)]="newDiary.date"></nz-date-picker>

          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a course" [(ngModel)]="newDiary.course_id">
            <nz-option *ngFor="let item of courses" [nzLabel]="item.name"
            [nzValue]="item._id"></nz-option>
          </nz-select>

          <input type="text" [(ngModel)]="newDiary.description" placeholder="Description"
            style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
        </div>
      </ng-container>
    </nz-modal>
  </div>
    <div class="table">
      <nz-date-picker [(ngModel)]="getDate" (ngModelChange)="fetchDiaries()"></nz-date-picker>

      <h2>Diary</h2>
      <nz-table #basicTable [nzData]="diary">
        <thead>
          <tr>
            <th>Date</th>
            <th>Course</th>
            <th>Diary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.date }}</td>
            <td>{{ data.course }}</td>
            <td>{{ data.diary }}</td>
            <td>
              <a style="font-size: 22px;" (click)="navigateToView()"><span nz-icon nzType="eye"
                  nzTheme="fill"></span></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>