h2 {
    font-size: 16px;
    color: #ffffff;
    background-color: #1F3F49;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}
nz-date-picker{
    width: 100%;
    padding: 7px;
}
.header {
    background-color: white !important;
    color: black !important;
}
