<div class="inner-content">
  <div class="landing-panel">
    <img
      class="landing-bg"
      src="../../assets/images/landing-bg.jpg"
      alt=""
      width="60%"
    />
    <div class="landing-links">
      <div  *ngIf="currentUser.role == 'admin'" class="link-item" routerLink="/settings/account">
        <div class="link-img">
          <img
            src="../../assets/settings-gear-svgrepo-com.svg"
            width="60"
            alt=""
          />
        </div>
        <h3>Configuration Settings</h3>
      </div>
      <div  *ngIf="currentUser.role == 'admin' || currentUser.role == 'user'" class="link-item" routerLink="/lead-management">
        <div class="link-img">
          <img
            src="../../assets/business-card-svgrepo-com.svg"
            width="60"
            alt=""
          />
        </div>
        <h3>Lead Management</h3>
      </div>
      <div class="link-item" routerLink="/sales">
        <div class="link-img">
          <img
            src="../../assets/walkie-talkie-svgrepo-com.svg"
            width="60"
            alt=""
          />
        </div>
        <h3>Sales</h3>
      </div>
    </div>
  </div>
</div>
