.layout {
  min-height: 100vh;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
}
.ant-layout {
  background: transparent;
}
.right-layout {
  margin-left: 250px;
  position: relative;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  padding: 24px 34px 0;
  overflow: initial;
  background-color: #f5f5f5;
}

.inner-content {
  padding: 24px;
  background: #f5f5f5;
  text-align: center;
}

nz-footer {
  text-align: center;
}
