<!-- <nz-layout class="layout">
  <app-sidebar></app-sidebar>
  <nz-layout class="right-layout">
     <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout> -->

<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="profile" [ngClass]="{'hidden': isCollapsed}">
      <img src="../../assets/images/admin.jpg" alt="">
      <h2>Admin</h2>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [routerLinkActive]="'active'">
        <a routerLink="/admin/dashboard">
          <span nz-icon nzType="dashboard" nzTheme="outline"></span>
          <span style="margin-left: 10px">Dashboard</span>
        </a>
      </li>
      <li nz-menu-item [routerLinkActive]="'active'">
        <a routerLink="/admin/teacher">
          <span nz-icon nzType="audit" nzTheme="outline"></span>
          <span>Teacher</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/admin//student">
          <span nz-icon nzType="user" nzTheme="outline"></span>
          <span>Student</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/admin//attendance">
          <span nz-icon nzType="idcard" nzTheme="outline"></span>
          <span>Attendance</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/admin//leaves">
          <span nz-icon nzType="file-done" nzTheme="outline"></span>
          <span>Leaves</span>
        </a>
      </li>
      <!-- <li nz-menu-item>
        <a routerLink="/admin//fee">
        <span nz-icon nzType="money-collect" nzTheme="outline"></span>
        <span>Fee</span>
        </a>
      </li> -->
      <li nz-menu-item>
        <a routerLink="/admin//notice">
          <span nz-icon nzType="notification" nzTheme="outline"></span>
          <span>Notice</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></span>
      <div class="logo">School Management</div>
      <button>Logout</button>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>