<div class="loader">
  <nz-spin [nzSpinning]="loader" nzSize="large"> </nz-spin>
</div>

<div [hidden]="loader">
  <div class="login-panel">
  <!-- left  -->
    <div class="login-left">
      <img src="../../../../assets/images/blue-bg.png" alt="" width="100%" />
      <div class="login-left-top">
        <img src="../../../../assets/images/login.png" alt="" width="150" />
      </div>
    </div>
    <!-- right  -->
    <div class="login-right">
      <div class="container">
        <div class="heading">
          <h1>SIGN IN</h1>
        </div>
        <form nz-form [formGroup]="loginForm" (ngSubmit)="userSignIn()">
          <div class="form-item">
            <nz-form-label nzRequired class="input-label">E-mail</nz-form-label>
            <nz-form-item>
              <nz-form-control
                nzHasFeedback
                [nzErrorTip]="emailErrorTpl"
                nzValidatingTip="Validating..."
              >
                <input
                  nz-input
                  formControlName="email"
                  type="email"
                  placeholder="Enter email"
                />
                <ng-template #emailErrorTpl let-control>
                  <ng-container *ngIf="control.errors?.['email']">
                    The input is not a valid email!
                  </ng-container>
                  <ng-container *ngIf="control.errors?.['required']"
                    >Email is required!</ng-container
                  >
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-item">
            <nz-form-label nzRequired class="input-label"
              >Password</nz-form-label
            >
            <nz-form-item>
              <nz-form-control
                nzHasFeedback
                nzErrorTip="Password length must be equal or more than 6!"
              >
                <nz-input-group [nzSuffix]="suffixTemplate">
                  <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    nz-input
                    placeholder="Enter password"
                    formControlName="password"
                    minlength="6"
                    class="password-input"
                  />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <span
                    nz-icon
                    [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                    (click)="passwordVisible = !passwordVisible"
                  ></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <div class="forget-password-sec">
              <div class="fg-pswd-sec-item">
                <label nz-checkbox formControlName="rememberMe"
                  >Remember me</label
                >
              </div>
              <div (click)="showModal()">
                <a>Forget Password?</a>
              </div>
            </div>
          </div>

          <div class="form-item">
            <div class="btn-container">
              <button nz-button nzType="primary">Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div>
      <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Forget Password"
        (nzOnCancel)="handleCancel()"
        [nzOkDisabled]="forgetPass.status != 'VALID'"
        (nzOnOk)="handleOk()"
        [nzOkLoading]="isOkLoading"
      >
        <div *nzModalContent>
          <form nz-form [formGroup]="forgetPass" (ngSubmit)="userSignIn()">
            <div class="forget-form-item">
              <nz-form-label nzRequired class="input-label"
                >E-mail</nz-form-label
              >
              <nz-form-item>
                <nz-form-control
                  nzHasFeedback
                  [nzErrorTip]="emailErrorTpl"
                  nzValidatingTip="Validating..."
                >
                  <input
                    nz-input
                    formControlName="email"
                    type="email"
                    placeholder="Enter email"
                  />
                  <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.errors?.['email']">
                      The input is not a valid email!
                    </ng-container>
                    <ng-container *ngIf="control.errors?.['required']"
                      >Email is required!</ng-container
                    >
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>
        </div>
      </nz-modal>
    </div>
  </div>
</div>
