.login-panel {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::ng-deep ng-input-group {
    background-color: #f2f5fe;
    width: 100%;

    i {
        cursor: pointer;
    }
}

::ng-deep .ant-input,
.ant-input-affix-wrapper {
    padding: 0 10px;
    width: 100%;
    background-color: #E8F0FE;
}


.login-left {
    position: relative;


    img {
        width: 100%;
        display: block;
        clip-path: circle(57% at 22% 46%);

    }

    .login-left-top {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;

        h1 {
            margin-bottom: 10px;
            font-size: 30px;
            text-align: left !important;
            color: #5266A2;
        }

        img {
            clip-path: circle(49% at 13% 50%);
            width: 120%;
            position: relative;
            left: 18%;
            padding-bottom: 165px;
        }
    }
}

.login-right {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px 0;
    justify-content: left;
    text-align: left;
    overflow-x: hidden;
    color: #5266A2;

    h1 {
        font-weight: 600;
        color: #162553;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 50%;

        .form-item {
            width: 100%;
            padding-bottom: 5px;
            justify-content: left;

            .input-label {
                font-weight: 700;
            }

            input {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.2rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #E8F0FE;
                border-radius: 0.25rem;
            }

            .password-input {
                padding: 0.2rem 1.5rem 0.2rem 0;
                width: 100%;
            }


            .form-control {
                background-color: #f2f5fe !important;
            }

            input:focus {
                outline: none;
                background-color: #E8F0FE;
            }

            .btn-container {
                width: 50%;
                margin: 10px auto;

                button {
                    width: 100%;
                    border-radius: 5px;
                    font-size: 17px;
                    font-weight: 500;
                    color: #ffffff;
                    text-align: center;
                    background-color: #0B2FFF;
                    border: transparent;
                }
            }

            a {
                font-size: 14px;
            }
        }

        .forget-password-sec {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-top: -5px;

            .fg-pswd-sec-item {
                width: 50%;
                font-weight: 600;
                color: #000;
                font-size: 14px;
            }
        }

        .change-pwd {
            width: 100%;
            text-align: center;
        }
    }
}

.login-form {
    max-width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
    background: #E8F0FE;
}