.container{
    width: 100%;
}
h2 {
    font-size: 16px;
    color: #ffffff;
    background-color: #1F3F49;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}
form{
    display: grid;
    width: 100%;
    padding: 4% 17%;
    gap: 20px;
    input,
    textarea{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: transparent;
        border: 1px solid #d9d9d9;
    }
    nz-select{
        width: 100%;
    }
}
button{
    border: transparent;
    background-color: #1F3F49;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}