<div class="sales-container">
  <h1 class="title">Sales</h1>
  <div class="loader">
    <nz-spin [nzSpinning]="loader" nzSize="large"> </nz-spin>
  </div>
  <div [hidden]="loader">
    <div class="filter-bar">
      <div class="filter-bar-container">
        <div class="date-container">

          <div class="date-item">
            <label>Date:</label>
            <nz-range-picker [nzSize]="size" [(ngModel)]="dateRange" (ngModelChange)="fil($event, 'date')"
              (click)="clearFilteredSelection()"></nz-range-picker>
          </div>

          <div class="date-item">
            <label>Signed Date:</label>
            <nz-range-picker [nzSize]="size" [(ngModel)]="signeddateRange" (ngModelChange)="fil($event, 'signed_date')"
              (ngCancel)="clearFilteredSelection()" (click)="clearFilteredSelection()"></nz-range-picker>
          </div>

          <div class="date-item">
            <label>Installation Date:</label>
            <nz-range-picker [nzSize]="size" [(ngModel)]="installationdateRange"
              (ngModelChange)="fil($event, 'installation_date')" (click)="clearFilteredSelection()"></nz-range-picker>
          </div>

        </div>

        <div class="flex-item">
          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Created By"
            [(ngModel)]="CreatedbyFilter" (ngModelChange)="fil($event, 'created_by')">
            <nz-option *ngFor="let option of CreatedByOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
            <i nz-select-clear *ngIf="CreatedbyFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
          </nz-select>

          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Phone Number"
            [(ngModel)]="phoneNumberFilter" (ngModelChange)="fil($event, 'phone_number')">
            <nz-option *ngFor="let option of phoneNumberOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
            <i nz-select-clear *ngIf="phoneNumberFilter" class="ant-select-clear"
              (click)="clearFilteredSelection()"></i>
          </nz-select>

          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Sales Status"
            [(ngModel)]="SalesStatusFilter" (ngModelChange)="fil($event, 'sales_status')">
            <nz-option *ngFor="let option of saleStatus" [nzLabel]="option.label" [nzValue]="option"></nz-option>
            <i nz-select-clear *ngIf="SalesStatusFilter" class="ant-select-clear"
              (click)="clearFilteredSelection()"></i>
          </nz-select>

          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Company" [(ngModel)]="CompanyFilter"
            (ngModelChange)="fil($event, 'company_name')">
            <nz-option *ngFor="let option of companyData" [nzLabel]="option.company_name"
              [nzValue]="option.company_name"></nz-option>
            <i nz-select-clear *ngIf="CompanyFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
          </nz-select>

          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="City" [(ngModel)]="cityFilter"
            (ngModelChange)="fil($event, 'address_city')">
            <nz-option *ngFor="let option of cityOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
            <i nz-select-clear *ngIf="cityFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
          </nz-select>

          <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="State" [(ngModel)]="stateFilter"
            (ngModelChange)="fil($event, 'address_state')">
            <nz-option *ngFor="let option of stateOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
            <i nz-select-clear *ngIf="stateFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
          </nz-select>
        </div>
      </div>
    </div> 
    <div class="table-container">
      <nz-table
      #salesListingTable
      nzShowPagination
      nzShowSizeChanger
      [nzData]="salesData"
      class="sales-table"
    >
      <thead class="table-header">
        <tr>
          <th>Date</th>
          <th>Owner's Name</th>
          <th>Legal Name</th>
          <th>Legal Type</th>
          <th>Phone Number</th>
          <th>Full Address</th>
          <th>City</th>
          <th>State</th>
          <th>Created By</th>
          <th>Sale Status</th>
          <th>Company</th>
          <th>Signed Date</th>
          <th>Installation Date</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of salesData">
          <td>{{ data.date}}</td>
          <td>{{ data.owner_name }}</td>
          <td>{{ data.business_name }}</td>
          <td>{{ data.business_type }}</td>
          <td>{{ data.phone_number }}</td>
          <td>{{ data.full_address }}</td>
          <td>{{ data.address_city }}</td>
          <td>{{ data.address_state }}</td>
          <td>{{ data.created_by }}</td>
          <td>{{ data.sales_status }}</td>
          <td>{{ data.company_name }}</td>
          <td>{{ data.signed_date }}</td>
          <td>{{ data.installation_date }}</td>
          <td>{{ data.comment }}</td>
          <td>
            <button nz-button [disabled]="isAdmin" nzType="primary" (click)="showModal(data)">
              Set Status
            </button>
          </td>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="Set Status" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzOkLoading]="isOkLoading">
          <div *nzModalContent [formGroup]="statusForm">
            <div class="status-inputs">
              <!-- <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select Sale Status"
            formControlName="status"
          >
            <nz-option nzLabel="Pending" nzValue="pending"></nz-option>

            <nz-option
              nzLabel="Sale Made"
              nzValue="sale made"
            ></nz-option>
            <nz-option
              nzLabel="Under Review"
              nzValue="under review"
            ></nz-option>
            <nz-option
              nzLabel="Approved/Agreement to be Sent"
              nzValue="approved"
            ></nz-option>
            <nz-option
              nzLabel="Rejected from All"
              nzValue="rejected"
            ></nz-option>

            <nz-option
              nzLabel="Agreement Sent"
              nzValue="agreement sent"
            ></nz-option>
            <nz-option
              nzLabel="Agreement Void"
              nzValue="agreement void"
            ></nz-option>
            <nz-option nzLabel="Signed" nzValue="signed"></nz-option>
            <nz-option
              nzLabel="Order Submitted"
              nzValue="order submitted"
            ></nz-option>

            <nz-option
              nzLabel="Installation Scheduled"
              nzValue="installation scheduled"
            ></nz-option>
            <nz-option
              nzLabel="Installed"
              nzValue="installed"
            ></nz-option>
            <nz-option
              nzLabel="Installation Cancelled"
              nzValue="installed cancelled"
            ></nz-option>
            <nz-option
              nzLabel="Installation Delayed"
              nzValue="installed delayed"
            ></nz-option>
          </nz-select> -->
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select Sale Status"
                formControlName="sales_status">
                <nz-option *ngFor="let option of saleStatus" [nzLabel]="option.label"
                  [nzValue]="option.sales_status"></nz-option>
              </nz-select>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Company" formControlName="company_name">
                <nz-option *ngFor="let data of companyData" [nzLabel]="data.company_name"
                  [nzValue]="data.company_name"></nz-option>
              </nz-select>
              <div style="padding: 10px; display: flex">
                <span>
                  <label>Installation Date</label><nz-date-picker
                    formControlName="installation_date"></nz-date-picker></span>
                <span>
                  <label>Signed Date</label><nz-date-picker formControlName="signed_date"></nz-date-picker></span>
              </div>
              <div style="padding: 10px">
                <textarea nz-input placeholder="Comment" formControlName="comment"
                  [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
              </div>
            </div>
          </div>
        </nz-modal>
        </tr>
      </tbody>
    </nz-table>
    </div>
  </div>
</div>