<div class="classes">
    <div class="container">
        <div class="buttons">
            <Button style="background-color: #6AB187;" (click)="navigateToAdd()">Add Class<span nz-icon nzType="plus-circle"
                    nzTheme="fill"></span></Button>
            <!-- <Button style="background-color: #f0b255a4;" (click)="navigateToApprove()">Approve Teachers<span nz-icon nzType="check-circle"
                    nzTheme="fill"></span> </Button> -->
        </div>
        <div class="table">
            <h2>Classes</h2>
            <nz-table #basicTable [nzData]="classes">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.name }}</td>
                        <td>
                            <a style="font-size: 21px; color: green;" (click)="showModal()"><span nz-icon nzType="edit"
                                    nzTheme="outline"></span></a>
                                    <nz-modal [(nzVisible)]="isVisible" nzTitle="Update Teacher" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                                        <ng-container *nzModalContent>
                                          <div class="form" style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
                                            <input type="text" [(ngModel)]="data.name" placeholder="First Name" style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                                            <input type="text" [(ngModel)]="data.mobile" placeholder="Last Name" style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                                            <input type="text" [(ngModel)]="data.salary" placeholder="Phone No" style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
                                            <input type="text" [(ngModel)]="data.joiningDate" placeholder="Joining Date" style="border: 1px solid gray; padding: 6px; border-radius: 7px;                                                                                                                                                                                          ">
                                          </div>
                                        </ng-container>
                                      </nz-modal>
                        </td>
                        <td>   
                            <a style="font-size: 22px; color: red;" (click)="showDeleteConfirm(data.name)"><span nz-icon nzType="delete"
                                    nzTheme="fill"></span></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>