.classes {
    display: grid;
    align-items: center;
    text-align: center;
}

.container{
    width: 100%;
    margin-top: 10px;
    .classes{
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 20px;
        align-items: center;
    }
    h3{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        font-weight: 500;
        color: #ffffff;
        font-size: 22px;
        padding: 20px;
        background-color: #1f3f4971;
        border-radius: 7px;
        text-align: center;
    }
}
h3:hover {
    transform: translateY(-2px); /* Move card up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  }
.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: right;
}
Button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 10px; 
    border: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    span{
        text-align: left;
        font-size: 20px;
    }
}
Button:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    opacity: 0.9;

}

h2 {
    font-size: 16px;
    color: #ffffff;
    background-color: #1F3F49;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}

::ng-deep nz-table{
    padding: 1%;
}

::ng-deep .ant-table-thead>tr>th {
    color: black;
    background-color: #ffffff;
    font-size: 14px;
}
