<div class="buttons">
    <Button style="background-color: #6AB187;" (click)="showModal()">Add Class<span nz-icon nzType="plus-circle"
            nzTheme="fill"></span></Button>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Add Class" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
            <div class="form"
            style="display: grid; grid-template-columns: 50% 50%; gap: 15px; align-items: center; justify-content: center;">
            <input type="text" [(ngModel)]="newClass.name" placeholder="Course Name"
                style="border: 1px solid gray; padding: 6px; border-radius: 7px;">
        </div>
        </ng-container>
    </nz-modal>
</div>
<h2>Classes</h2>
<div class="container">
    <div class="classes">
        <div class="cards" (click)="navigateToClassDetail(class)" *ngFor="let class of classes">
            <h3 >{{ class.name }}</h3>
            <span style="width: 80%; background-color: #ccc; height: 2px;"></span>
            <div class="actions">
                <!-- <div class="edit">
                    <span style="color: green; font-size: 23px;" nz-icon nzType="edit" nzTheme="outline"></span>
                </div>
                <span class="separator"></span> -->
                <div class="delete">
                    <span style="color: red; font-size: 21px;" (click)="showDeleteConfirm(class)" nz-icon nzType="delete" nzTheme="outline"></span>
                </div>
            </div>
        </div>
    </div>

</div>