
.table-header {
  th:first-child {
    border-top-left-radius: 8px;
  }

  th:last-child {
    border-top-right-radius: 8px;
  }
}

.table-container th {
  background: #162553;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}
.table-container td{
  font-size: 13px;
}

.view-leads-container {
  gap: 20px;
}

.filter-bar {
  display: grid;
  width: 97.3%;
  grid-template-columns: 17% 14% 13% 11% 11% 11% 11% 11%;
  gap: 7px;
  padding-bottom: 20px;
}

nz-select {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: #ffffff;
}

::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #ffffff;
  border: transparent;
}

::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  cursor: text;
  border: none;
  background: #ffffff;
}

.custom-option {
  background-color: #ffffff;
}

.table-container {
  width: 100%;

  .call-history-table {
    overflow-x: scroll;
    width: 100%;
  }

  td {
    background-color: #fff;
  }
}