<div class="view-leads-container">
  <h1 class="title">Call History</h1>

  <div class="loader">
    <nz-spin [nzSpinning]="loader" nzSize="large"> </nz-spin>
  </div>
  <div [hidden]="loader">

    <div class="filter-bar">
      <nz-range-picker [nzSize]="size" [(ngModel)]="dateRange" (ngModelChange)="fil($event, 'date')"></nz-range-picker>

      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Owner Name"
        [(ngModel)]="OwnerNameFilter" (ngModelChange)="fil($event, 'owner_name')">
        <nz-option *ngFor="let option of OwnerNameOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="OwnerNameFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>
      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Business Name"
        [(ngModel)]="BusinessNameFilter" (ngModelChange)="fil($event, 'business_name')">
        <nz-option *ngFor="let option of BusinessNameOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="BusinessNameFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>

      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Created By"
        [(ngModel)]="created_byFilter" (ngModelChange)="fil($event, 'created_by')">
        <nz-option *ngFor="let option of created_byOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="created_byFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>

      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Phone Number"
        [(ngModel)]="phoneNumberFilter" (ngModelChange)="fil($event, 'phone_number')">
        <nz-option *ngFor="let option of phoneNumberOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="phoneNumberFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>

      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="Desposition"
        [(ngModel)]="despositionFilter" (ngModelChange)="fil($event, 'desposition')">
        <nz-option *ngFor="let option of despositionOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="despositionFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>

      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="City" [(ngModel)]="cityFilter"
        (ngModelChange)="fil($event, 'address_city')">
        <nz-option *ngFor="let option of cityOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="cityFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>

      <nz-select class="filter-select" nzShowSearch nzAllowClear nzPlaceHolder="State" [(ngModel)]="stateFilter"
        (ngModelChange)="fil($event, 'address_state')">
        <nz-option *ngFor="let option of stateOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
        <i nz-select-clear *ngIf="phoneNumberFilter" class="ant-select-clear" (click)="clearFilteredSelection()"></i>
      </nz-select>

    </div>

    <div class="table-container">
      <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="callLogData" class="call-history-table">
        <thead class="table-header">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Owner's Name</th>
            <th>Legal Name</th>
            <th>Phone Number</th>
            <th>Full Address</th>
            <th>City</th>
            <th>State</th>
            <th>Call Duration</th>
            <th>Created By</th>
            <th>Desposition</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <td>{{ data.date }}</td>
            <td>{{ convertDateTimeFromSeconds(data.created_at) }}</td>
            <td>{{ data.owner_name }}</td>
            <td>{{ data.business_name }}</td>
            <td>{{ data.phone_number }}</td>
            <td>{{ data.full_address }}</td>
            <td>{{ data.address_city }}</td>
            <td>{{ data.address_state }}</td>
            <td>{{ data.call_duration }}</td>
            <td>{{ data.created_by }}</td>
            <td>{{ data.desposition }}</td>
            <td>{{ data.comment }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <!-- <div class="table-container">
      <nz-table #callLogListingTable nzShowPagination nzShowSizeChanger [nzData]="callLogData">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Owner's Name</th>
            <th>Legal Name</th>
            <th>Phone Number</th>
            <th>Full Address</th>
            <th>City</th>
            <th>State</th>
            <th>Call Duration</th>
            <th>Created By</th>
            <th>Desposition</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of callLogListingTable.data">
            <td>{{ data.date }}</td>
            <td>{{ data.created_at | date:'shortTime'}}</td>
            <td>{{ data.owner_name }}</td>
            <td>{{ data.business_name }}</td>
            <td>{{ data.phone_number }}</td>
            <td>{{ data.full_address }}</td>
            <td>{{ data.address_city }}</td>
            <td>{{ data.address_state }}</td>
            <td>{{ data.call_duration }}</td>
            <td>{{ data.created_by }}</td>
            <td>{{ data.desposition }}</td>
            <td>{{ data.comment }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div> -->
  </div>
</div>