.table {
    width: 100%;
    border: 1px solid #1F3F49;
    border-radius: 5px;

    h2 {
        font-size: 16px;
        color: #ffffff;
        background-color: #1F3F49;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
    }
}

::ng-deep nz-table{
    padding: 1%;
}

::ng-deep .ant-table-thead>tr>th {
    color: black;
    background-color: #ffffff;
    font-size: 14px;
}
nz-date-picker {
    margin: 0 8px 12px 0;
    width: 100%;
    padding: 10px;
  }