<nz-sider style="min-width: 250px; max-width: 250px; height: 100%">
  <div class="logo" (click)="checkSubMenuOpen()">
    <h1><a routerLink="" routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">Bitcoin CRM</a></h1>
  </div>
  
  <ul nz-menu nzTheme="dark" nzMode="inline">
    <li
      nz-submenu
      nzTitle="Configuration Settings"
      nzIcon="setting"
      [nzOpen]="isSubMenuOpen"
      *ngIf="currentUser.role == 'admin'"
    >
      <ul>
        <li nz-menu-item [routerLinkActive]="'active'" (click)="openSubMenu()">
          <a routerLink="/settings/account">
            <span
              nz-icon
              nzType="usergroup-add"
              nzTheme="outline"
              style="width: 30px"
            ></span>
            Accounts
          </a>
        </li>
        <li nz-menu-item  [routerLinkActive]="'active'" (click)="openSubMenu()">
          <a routerLink="/settings/disposition">
            <span
              nz-icon
              nzType="file-add"
              nzTheme="outline"
              style="width: 30px"
            ></span>
            Dispositions
          </a>
        </li>
        <li nz-menu-item [routerLinkActive]="'active'" (click)="openSubMenu()">
          <a routerLink="/settings/company">
            <span
              nz-icon
              nzType="shop"
              nzTheme="outline"
              style=" width: 30px"
            ></span>
            Company
          </a>
        </li>
      </ul>
    </li>
    <li  *ngIf="currentUser.role == 'admin' || currentUser.role == 'user'" nz-menu-item [routerLinkActive]="'active'" (click)="openSubMenu()">
      <a routerLink="/lead-management">
        <span nz-icon nzType="contacts"></span>
        <span style="margin-left: 10px">Lead Management</span>
      </a>
    </li>
    <li  *ngIf="currentUser.role == 'admin' || currentUser.role == 'user'" nz-menu-item [routerLinkActive]="'active'" (click)="openSubMenu()">
      <a routerLink="/call-history">
        <span nz-icon nzType="customer-service"></span>
        <span style="margin-left: 10px">Call History</span>
      </a>
    </li>
    <li nz-menu-item [routerLinkActive]="'active'" (click)="openSubMenu()">
      <a routerLink="/sales">
        <span nz-icon nzType="rise"></span>
        <span style="margin-left: 10px">Sales</span>
      </a>
    </li>
  </ul>
</nz-sider>