h2 {
    font-size: 16px;
    color: #ffffff;
    background-color: #1F3F49;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}
.details{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    width: 100%;
    .item{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        border: 1px solid rgb(219, 216, 216);
        padding: 20px;
        align-items: center;
        text-align: center;
        h3{
            margin-bottom: 0;
            font-weight: 800;
            font-size: 15px;
        }
    }
}