.attendance {
    height: 100%;
    display: ruby-text;
    align-items: center;
}

.table {
    width: 75%;
    border: 1px solid #6494edaf;
    border-radius: 5px;

    h2 {
        font-size: 16px;
        color: #ffffff;
        background-color: #6494edaf;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
    }
}

::ng-deep nz-table {
    padding: 1%;
}

::ng-deep .ant-table-thead>tr>th {
    color: black;
    background-color: #ffffff;
    font-size: 14px;
}

nz-select {
    width: 20%;
}
.button{
    width: 100%;
    text-align: center;
}
button {
    text-align: center;
    border-radius: 20px;
    width: 90px;
    margin: 15px;
}