<div class="attendance">
    <div class="table">
        <h2>Attendance</h2>
        <nz-table #basicTable [nzData]="students">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Present/Absent</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>{{ data.name }}</td>
                    <td>
                        <nz-select ngModel="lucy">
                            <nz-option nzValue="present" nzLabel="Present"></nz-option>
                            <nz-option nzValue="absent" nzLabel="Absent"></nz-option>
                          </nz-select>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <div class="button">
            <button nz-button routerLink="/admin-attendance" nzType="primary">Submit</button>
        </div>
    </div>
</div>