<!-- student-challan.component.html -->
<div class="container">
  <h2>Generate Challan</h2>
  <div class="item">
    <label for="year">Year:</label>
    <input type="number" id="year" [(ngModel)]="year" disabled>
  </div>
  <div class="item">
    <label for="month">Month:</label>
    <!-- <input type="number" id="month" [(ngModel)]="month" min="1" max="12"> -->
    <nz-select [(ngModel)]="month" id="month">
      <nz-option *ngFor="let month of months" [nzValue]="month.val" [nzLabel]="month.label"></nz-option>
    </nz-select>

  </div>
  <div class="btn">
    <button (click)="fetchChallan()">Generate Challan</button>
  </div>
</div>

