h2 {
  font-size: 16px;
  color: #ffffff;
  background-color: #1F3F49;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}
.item{
  display: grid;
  grid-template-columns: 5% 50%;
  justify-content: center;
  padding: 15px;
  align-items: center;
  label{
    color: #1F3F49;
    font-weight: 700;
    font-size: 17px;
  }
  input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1f3f4985
  }
  nz-select{
    width: 100%;
  }
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  padding: 10px;
  color: #ffffff;
  background-color: #1f3f49a6;
  border: transparent;
  border-radius: 7px;
}
  